body {
  overflow-x: hidden;
}
/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(197, 197, 197);
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #1c1e53;
}
::-webkit-scrollbar-thumb:hover {
  background: #1f2392;
}
/*############
  HEADER
##############*/

.header {
  background-color: #1c1e53;
  min-height: 100vh;
  max-height: fit-content;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  width: 100vw;
  background-color: #1c1e53;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  z-index: 9999;
}

@media (min-width: 768px) {
  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navbar .navbar-brand:hover {
  color: #f0f0f0;
}

.navbar .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}
.navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: 0.5rem;
  text-decoration: none;
}

.navbar .navbar-collapse span .login:hover {
  color: #fff;
}

.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.navbar .navbar-toggler:hover,
.navbar-toggler:focus {
  background: none;
}

.navbar .navbar-nav a.active,
.navbar .navbar-nav > .show .dropdown-item {
  background: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .navbar-nav .nav-link {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}

.navbar .dropdown-menu .dropdown-item:focus,
.navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navbar .dropdown-menu .dropdown-item:focus,
.navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}
.navbar ul li {
  display: block;
}
.header .action-button,
.header .action-button:not(.disabled):active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 0.3rem 0.8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}

.header .action-button:hover {
  color: #fff;
}

.header .navbar .form-inline label {
  color: #d9d9d9;
}

.header .navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.header .hero {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
.header .hero .hero-box {
  width: 100%;
}
.header .hero-title {
  margin-top: 20px;
}

/* Carousel */
.carousel {
  width: 40vw;
  height: auto;
  margin: 40px;
}
.carousel .carousel-indicators {
  bottom: 15px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #e2e2e2;
  border: none;
}
.carousel-indicators li.active {
  background: #888;
}
@media (max-width: 1130px) {
  .header {
    flex-direction: column;
  }
  .header .hero .hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .header .hero h1,
  p {
    text-align: center;
  }
  .carousel {
    width: 80%;
  }
}
/* Nav-Bar */

.header .navbar-nav .nav-link {
  transition: all ease-in 0.5s;
}

.header .navbar-nav .nav-link:hover {
  color: #fcd980;
}
@media (min-width: 768px) {
  .header .hero {
    text-align: left;
  }
}

.header .hero h1 {
  color: #fff;
  font-size: 35px;
  margin: 25px 0;
  font-weight: 700;
  line-height: 1.4;
}

@media (min-width: 992px) {
  .header .hero h1 {
    line-height: 1.2;
  }
}
@media (max-width: 1000px) {
  .header .hero h1 {
    font-size: 30px;
  }
  .hero {
    padding-top: 100px;
  }
}
@media (max-width: 786px) {
  .header .hero h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .hero {
    padding-top: 80px;
    width: 80%;
    text-align: left;
  }
}
@media (max-width: 540px) {
  .header .hero h1 {
    font-size: 23px;
  }
  .header .hero .hero-box p {
    font-size: 18px;
  }
}
@media (max-width: 482px) {
  .header .hero h1 {
    font-size: 21px;
  }
  .header .hero .hero-box p {
    font-size: 16px;
  }
}
@media (max-width: 444px) {
  .header .hero h1 {
    font-size: 18px;
  }
  .header .hero .hero-box p {
    font-size: 14px;
  }
}
@media (max-width: 410px) {
  .header .hero h1 {
    font-size: 16px;
  }
  .header .hero .hero-box p {
    font-size: 12px;
  }
}
.header .hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}

.header .phone-holder {
  text-align: right;
}

.header div.iphone-mockup {
  position: relative;
  max-width: 300px;
  margin: 20px;
  display: inline-block;
}

.header .iphone-mockup img.device {
  width: 100%;
  height: auto;
}

.header .iphone-mockup .screen {
  position: absolute;
  width: 88%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  background: url(../../assets/img/screen-content-iphone-6.jpg);
  background-size: cover;
  background-position: center;
}

.header .iphone-mockup .screen:before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

/*############
  CONTACT
##############*/
.footer-contact {
  background-color: #1c1e53;
}
.form-control {
  box-shadow: none !important;
  outline: none !important;
  border: 2px solid #cecece;
  height: 38px;
}
.form-control:hover,
.form-control:focus {
  border-color: #97a0af;
}

.error {
  margin: 8px 0px;
  display: none;
  color: red;
}
#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}
.con_sub_text {
  margin: 20px 0px;
  font-size: 15px;
}

.contact-detail-box {
  margin-bottom: 50px;
}

.contact-detail-box address {
  font-size: 14px;
}
.contact-map {
  background-color: #ededed;
}

.title-box .border,
.btn-primary,
.back-to-top,
.logo i,
.question-q-box,
.social-circle li a:hover {
  background-color: #1c1e53 !important;
}
.title-box .title-alt,
.text-colored,
.footer a:hover,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a {
  color: #1c1e53;
}

.btn-primary {
  border: 1px solid #1c1e53 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #1f2392 !important;
  border: 1px solid #1f2392 !important;
}

.btn-shadow.btn-primary {
  box-shadow: 1px 5px 9px rgba(241, 96, 1, 0.32);
}

/*======= Responsive ======*/
@media (min-width: 768px) {
  .nav-custom-left {
    margin-left: 5%;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-page .col-sm-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  .screen-space {
    margin: 0px auto 50px auto;
  }
  .feature-detail {
    padding: 0px 0px 50px 30px !important;
  }
  .footer h5 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-wrapper .blog-item {
    width: 50%;
  }
  .navbar-custom .navbar-nav li a {
    font-size: 12px;
  }
  .blog-detail-box {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
}
@media (max-width: 767px) {
  .blog-wrapper .blog-item {
    width: 100%;
  }
  .logo {
    margin-top: 7px;
  }
  .blog-detail-box {
    padding-right: 0px;
  }
}
/* Contact-Form */
.contact-form,
.booking-from {
  background-color: #f4f6fc;
  border-radius: 10px;
  padding: 20px;
}
.contact-form .form-control {
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* Footers */
.footer-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.footer-social-contact {
  display: flex;
  align-items: center;
  color: #fff;
}
.footer-social-contact div {
  display: flex;
  align-items: center;
  margin: 0 30px;
}
.footer-social-contact i {
  padding: 0 10px;
}
.footer-social-links ul {
  display: flex;
  align-items: center;
  margin: 0 30px;
}
.footer-social-links ul li {
  display: block;
  padding: 0 10px;
}
.footer-social-links ul li a {
  text-decoration: none;
}
.footer-social i {
  font-size: 30px;
  color: #fff;
  transition: all 0.2s;
}
.footer-social i:hover {
  transform: scale(1.1);
}
.footer-cc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 20px 0;
}
/* About Live Stream Section */
#about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
#about .about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

#about img {
  width: 45%;
  height: auto;
}
@media (max-width: 780px) {
  .footer-social {
    flex-direction: column;
  }
  .footer-social-links {
    padding-top: 20px;
  }
  #about {
    flex-direction: column;
  }
  #about .about-content {
    align-items: center;
  }

  #about img {
    width: 80%;
  }
}
.vid-box .row .col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
