@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
*{
  font-family: 'Gilroy-Light', sans-serif;
}
:root {
  /* --color-primary: #1c1e53; */
  --color-primary: #e41749;
  --color-primary-dark: #cf1644;
  --color-btn-gold: #fcd980;
}
body {
  overflow-x: hidden;
}
/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(197, 197, 197);
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}
/* Header */
.header {
  /* background-color: var(--color-primary); */
  background-color: #fff;
  min-height: 100vh;
  max-height: fit-content;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  position: fixed;
  top:0;
  width: 100vw;
  background-color: var(--color-primary);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  z-index: 999;
}


.navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navbar .navbar-brand:hover {
  color: #f0f0f0;
}

.navbar .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 0.5rem;
}


.navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: 0.5rem;
  text-decoration: none;
}

.navbar .navbar-collapse span .login:hover {
  color: #fff;
}

.navbar .navbar-toggler:hover,
.navbar-toggler:focus {
  background: none;
}

.navbar .navbar-nav a.active,
.navbar .navbar-nav > .show .dropdown-item {
  background: none;
  box-shadow: none;
}


.navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}

.navbar .dropdown-menu .dropdown-item:focus,
.navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navbar .dropdown-menu .dropdown-item:focus,
.navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}
.navbar ul li {
  display: block;
  margin-left: 20px;
}
.navbar ul li > a:after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}
.navbar ul li > a:hover::after{
  width: 100%;
}
.navbar ul li.dropdown > a:after{
  content: none;
}
.navbar .dropdown-toggle{
  color: #fff !important;
}

.logout{
  text-decoration: none;
  color: white;
}

.logout:hover{
  text-decoration: none;
  color: white;
}

.channel:after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
.channel:hover::after{
width: 13%;
}
.header .action-button,
.header .action-button:not(.disabled):active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 0.3rem 0.8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}

.header .action-button:hover {
  color: #fff;
}

.header .navbar .form-inline label {
  color: #d9d9d9;
}

.header .navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.header .hero {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10;
  margin: 0;
}
.header .hero .hero-box {
  width: 100%;
  margin-left: 120px;
}
.header .hero-title {
  margin-top: 20px;
}

/* Carousel */
.carousel {
  width: 100vw;
  height: auto;
  margin: 40px 20px;
}
.carousel .carousel-indicators {
  bottom: 15px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #e2e2e2;
  border: none;
}
.carousel-indicators li.active {
  background: #888;
}

/* Pagination */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #fff !important;
    background-color: #E31749 !important;
    border-color: #E31749 !important;
}

.pagination>li>a{
  border-color:#E31749 !important;
  color: #E31749 !important;
}

/* Nav-Bar */
.navbar .navbar-collapse{
  justify-content: flex-end;
}
.header .navbar-nav .nav-link {
  transition: all ease-in 0.5s;
}

.header .navbar-nav .nav-link:hover {
  color: var(--color-btn-gold);
}


.header .hero h1 {
  color: #000;
  font-size: 40px;
  margin: 25px 0;
  font-weight: 700;
  line-height: 1.4;
}


.header .hero p {
  /* color: rgba(255, 255, 255, 0.8); */
  color: #000;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}

.header .phone-holder {
  text-align: right;
}

.header div.iphone-mockup {
  position: relative;
  max-width: 300px;
  margin: 20px;
  display: inline-block;
}

.header .iphone-mockup img.device {
  width: 100%;
  height: auto;
}

.header .iphone-mockup .screen {
  position: absolute;
  width: 88%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  background: url(../../assets/img/screen-content-iphone-6.jpg);
  background-size: cover;
  background-position: center;
}

.header .iphone-mockup .screen:before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}
/* CONTACT */
.contact-us .contacts{
  display: flex;
  flex-direction: column;
}
.footer-contact {
  background-color: var(--color-primary);
}
.form-control {
  box-shadow: none !important;
  outline: none !important;
  border: 2px solid #cecece;
  height: 38px;
}
.form-control:hover,
.form-control:focus {
  border-color: #97a0af;
}
.error {
  margin: 8px 0px;
  display: none;
  color: red;
}
#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}
.con_sub_text {
  margin: 20px 0px;
  font-size: 15px;
}

.contact-detail-box {
  margin-bottom: 50px;
}

.contact-detail-box address {
  font-size: 14px;
}
.contact-map {
  background-color: #ededed;
}

.title-box .border,
.btn-primary,
.back-to-top,
.logo i,
.question-q-box,
.social-circle li a:hover {
  background-color: var(--color-primary) !important;
}
.title-box .title-alt,
.text-colored,
.footer a:hover,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a {
  color: var(--color-primary);
}

.btn-primary {
  border: 1px solid var(--color-primary) !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: var(--color-primary-dark) !important;
  border: 1px solid var(--color-primary-dark) !important;
}

.btn-shadow.btn-primary {
  box-shadow: 1px 5px 9px rgba(241, 96, 1, 0.32);
}

/* Contact-Form */
.contact-form{
  width: 100%;
}
.contact-form,
.booking-from {
  background-color: #f4f6fc;
  border-radius: 10px;
  padding: 20px;
}
.contact-form label {
  color: #000;
}
.contact-form .form-control {
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* Footers */
.footer-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.footer-social-contact {
  display: flex;
  align-items: center;
  color: #fff;
}
.footer-social-contact div {
  display: flex;
  align-items: center;
  margin: 0 30px;
}
.footer-social-contact i {
  padding: 0 10px;
}
.footer-social-links ul {
  display: flex;
  align-items: center;
  margin: 0 30px;
}
.footer-social-links ul li {
  display: block;
  padding: 0 10px;
}
.footer-social-links ul li a {
  text-decoration: none;
}
.footer-social i {
  font-size: 30px;
  color: #fff;
  transition: all 0.2s;
}
.footer-social i:hover {
  transform: scale(1.1);
}
.footer-cc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 20px 0;
}
/* About Live Stream Section */
#about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
#about .about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

#about img {
  width: 45%;
  height: auto;
}

.vid-box .row .col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
/* Modal Reject */
.status-icon{
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  background-color: #dfdfdf;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}
.status-icon i{
  font-size:30px;
}
#dvReason{
  display: none;
  background-color: #fff;
  width: 50vw;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
}
.overlay{
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 9999;
}
.reason-form{
  padding: 10px 20px;
}
.reason-form .form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reason-form .form-group textarea{
  width: 95%;
  height: 300px;
  border:1px solid rgba(0, 0, 0, 0.5);
  margin:0 auto;
}
.rej-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
}
.rej-nav i{
  cursor: pointer;
}
.modal-msg{
  position: fixed;
  width: 90vw;
  background-color: var(--color-primary);
  color: #fff;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  margin: 0 auto;
}

/* Booking Message */
@media (max-width: 786px){
.booking-msg{
  margin-top: 150px !important;
  margin-bottom: 130px !important;
}
}

/* Schedule Page */
.events{
  overflow-x: scroll;
}
.schedule-table{
  width: 100%;
  margin: 20px ;
}
.schedule-table tr{
  margin: 15px 0;
}
.schedule-table th{
  border: 1px solid var(--color-primary);
  text-align: center;
  padding: 10px;
}
.schedule-table td{
  text-align: center;
  border: 1px solid var(--color-primary);
  padding: 10px;
}
.cell-name{
  max-width: 220px;
  min-width: 170px;
}
.cell-date{
  max-width: 220px;
  min-width: 220px
}
.cell-event{
  max-width: 300px;
  min-width: 250px;
}
.cell-email{
  max-width: 330px;
  min-width: 250px;
}
.schedule-paginator{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
/* Bookings Page */
.card {
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
      border: none !important;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
  }
  .card{
      margin-bottom:0;
  }
  .blue-text {
      color: #00BCD4
  }

  .form-control-label {
      margin-bottom: 0;
      color: #000;
      font-weight: bold;
  }

  input,
  textarea,
  button {
      padding: 8px 15px;
      border-radius: 5px !important;
      margin: 5px 0px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      font-size: 18px !important;
      font-weight: 300;
      outline:none;
  }

  input:focus,
  textarea:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: 1px solid #00BCD4;
      outline-width: 0;
      font-weight: 400
  }

  .btn-block {
      text-transform: uppercase;
      font-size: 15px !important;
      font-weight: 400;
      height: 43px;
      cursor: pointer
  }

  .btn-block:hover {
      color: #fff !important
  }

  button:focus {
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline-width: 0
  }
/* RESPONSIVENESS*/
@media (min-width: 768px) {
  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .navbar-nav .nav-link {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
@media (max-width: 1130px) {
  .navbar-nav{
    margin-left: -250px;
  }
  .navbar-brand{
    font-size: 0.9rem;
  }
  .navbar-brand > img{
    width:80px !important;
  }
  .display-4{
    font-size: 40px;
  }
  .header {
    flex-direction: column;
  }
  .header .hero h1 {
    font-size: 60px;
  }
  .header .hero .hero-box {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .header .hero h1,
  p {
    text-align: center;
  }
  .carousel {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .header .hero {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .header .hero h1 {
    line-height: 1.2;
  }
}
@media (max-width: 1000px) {
  #dvReason{
    width: 90vw;
  }
  .header .hero h1 {
    font-size: 35px;
  }
  .hero {
    padding-top: 100px;
  }
}
@media (max-width: 786px) {
  .navbar-nav{
    margin-left: 0px;
  }
  .header .hero h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .hero {
    padding-top: 80px;
    width: 80%;
    text-align: left;
  }
  .display-4{
    font-size: 35px;
  }
}
@media (max-width: 540px) {
  .header .hero h1 {
    font-size: 26px;
  }
  .header .hero .hero-box p {
    font-size: 18px;
  }
  .footer-social-contact{
    flex-direction: column;
  }
}
@media (max-width: 482px) {
  .header .hero h1 {
    font-size: 23px;
  }
  .header .hero .hero-box p {
    font-size: 16px;
  }
  .display-4{
    font-size: 30px;
  }
}
@media (max-width: 444px) {
  .header .hero h1 {
    font-size: 20px;
  }
  .header .hero .hero-box p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .nav-custom-left {
    margin-left: 5%;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-page .col-sm-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  .screen-space {
    margin: 0px auto 50px auto;
  }
  .feature-detail {
    padding: 0px 0px 50px 30px !important;
  }
  .footer h5 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-wrapper .blog-item {
    width: 50%;
  }
  .navbar-custom .navbar-nav li a {
    font-size: 12px;
  }
  .blog-detail-box {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
}
@media (max-width: 767px) {
  .blog-wrapper .blog-item {
    width: 100%;
  }
  .logo {
    margin-top: 7px;
  }
  .blog-detail-box {
    padding-right: 0px;
  }
}
@media (max-width: 780px) {
  .footer-social {
    flex-direction: column;
  }
  .footer-social-links {
    padding-top: 20px;
  }
  .footer-social-links ul{
    margin: 0;
  }
  #about {
    flex-direction: column;
  }
  #about .about-content {
    align-items: center;
  }
  #about img {
    width: 80%;
  }
  .navbar-brand{
    font-size: 0.7rem;
  }
  .navbar-brand > img{
    width:70px !important;
    margin-left: 70px !important;
  }
}
@media (max-width: 530px) {
  .navbar-toggler{
    margin-top: -50px;
  }
}