{% extends 'base.html' %}
{% load static %}
{% block cta %}
<div class="container hero">
  <div class="hero-box">
    <h1 class="mt-30 hero-title">Vishwa Konakni Smt Laxmi & Sri Nandagopal Shenoy, Kannur - Live Stream Studio</h1>
    <p class="hero-subtitle"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <a href="{% url 'booking' %}" style="background-color: #FCD980; color: #000; font-size: 17px;"class="btn btn-light btn-lg action-button" type="button">Book Studio &#8594;</a>
</div>
</div>
{% endblock cta %}

{% block content %}
<section class="container py-5"  style="margin-block:100px;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Watch our Recent Live Streams</h1>
            <p class="lead py-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates praesentium necessitatibus minus sapiente, obcaecati mollitia magni earum nulla animi aliquid tempora quia excepturi voluptatibus quidem sint nam laudantium rerum placeat..
            </p>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <iframe class="latestVideoEmbed " vnum='0' cid="UCQa87yJ71wov2SZGhnyIBxg" width="500" height="340" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col">
          <iframe class="latestVideoEmbed" vnum='1' cid="UCQa87yJ71wov2SZGhnyIBxg" width="500" height="340" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col">
          <iframe class="latestVideoEmbed" vnum='2' cid="UCQa87yJ71wov2SZGhnyIBxg" width="500" height="340" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col">
          <iframe class="latestVideoEmbed" vnum='3' cid="UCQa87yJ71wov2SZGhnyIBxg" width="500" height="340" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    var reqURL = "https://api.rss2json.com/v1/api.json?rss_url=" + encodeURIComponent("https://www.youtube.com/feeds/videos.xml?channel_id=");
    function loadVideo(iframe) {
    $.getJSON(reqURL + iframe.getAttribute('cid'),
    function(data) {
      var videoNumber = (iframe.getAttribute('vnum') ? Number(iframe.getAttribute('vnum')) : 0);
      var link = data.items[videoNumber].link;
      id = link.substr(link.indexOf("=") + 1);
      iframe.setAttribute("src", "https://youtube.com/embed/" + id + "?controls=0&autoplay=1");
      }
      );
      }
      var iframes = document.getElementsByClassName('latestVideoEmbed');
      for (var i = 0, len = iframes.length; i < len; i++) {
      loadVideo(iframes[i]);
      }
    </script>
    
</section><!-- End -->

<section id="contact" class="footer-contact pt-4 m-0">
    <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15556.395209339667!2d74.875267!3d12.901368!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfeef55fa11a155b0!2sWorld%20Konkani%20Centre!5e0!3m2!1sen!2sin!4v1643040522255!5m2!1sen!2sin"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
            </div>
          </div><!-- end col -->
  
          <!-- Contact form -->
          <div class="col-sm-6">
            
            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main contact-form" action="{% url 'home' %}">
            {% csrf_token %}
          <h3>Contact us</h3>

              <div class="form-group ">
                <label for="name2">Name</label>
                <input class="form-control" id="name2" name="name" type="text" placeholder="Name" required>
                <div class="error" id="err-name" style="display: none;">Please enter name</div>
              </div> <!-- /Form-name -->
  
              <div class="form-group">
                <label for="email2">Email</label>
                <input class="form-control" id="email2" name="email" type="text" placeholder="E-mail" required>
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
              </div> <!-- /Form-email -->
  
              <div class="form-group">
                <label for="message2">Message</label>
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="Enter your Message here" required></textarea>
  
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
              </div> <!-- /col -->
  
              <div class="row">            
                  <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md ml-auto btn-send-mail" style="margin: 0 20px;" id="send">Send</button>
                </div> <!-- /col -->
              </div> <!-- /row -->
  
            </form> <!-- /form -->
          </div> <!-- end col -->
  
        </div> <!-- end row -->
        <div class="footer-social">
          <div class="footer-social-contact">
            <div><i class="fas fa-envelope"></i><span>example@mail.com</span></div>
            <div><i class="fas fa-phone-square-alt"></i><span>1234567890</span></div>
          </div>
          <div class="footer-social-links">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-cc">
        <p>	&copy;copyright 2022, world konkani center, Manglore</p>
      </div>
</section>

{% endblock content %}