{% extends 'base.html' %} 
{% block content %} 

{% block footer_parent %} 
{% endblock %} 

{% if request.user.is_authenticated %}
<h1 style="margin-top: 150px; font-size: 25px;text-align: center;">Upcoming Events</h1>
<div class="events">
  <table class="schedule-table">
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th>Email</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    {% for bookings in schedule %}
    <tr>
      <td class="cell-name">{{bookings.name}}</td>
      <td class="cell-event">{{bookings.request}}</td>
      <td class="cell-email">{{bookings.email}}</td>
      <td class="cell-date">{{bookings.event_date}}</td>
      <td class="cell-date">{{bookings.end_date}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% if is_paginated %}
  <div class="wrapper schedule-paginator">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
        </li>
        {% endif %} 
        {% for number in page_obj.paginator.page_range %}
        <li class="page-item">
          <a class="page-link" href="?page={{number}}">{{number}}</a>
        </li>
        {% endfor %} 
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}

{% else %} 
{% include "404.html" %} 
{% endif %} 
{% endblock content %}
